<h1>Editing image</h1>

<%= form_for @image do |f| %>
  <div class="field">
    <%= f.label :tags %></br> 
    <%= f.text_field :tags, :value => "#{@image.tag_list.join(",")}", :placeholder => "finn,jake,awesome" %>
    <%= f.text_field :source, :value => "#{@image.source}", :placeholder => "http://www.imgur.com" %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>
