<h1>Listing images</h1>

<div id="imagesWrapper">
  <div id="imagesContainer">
    <% @images.each do |image| %>
      <div class="box">
        <img src="<%= image.url %>">
      </div>
    <% end %>
  </div>
</div>

<table>
  <tr>
    <th>Url</th>
    <th>Unreviewed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.url %></td>
    <td><%= image.unreviewed %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<script>
  WTJ.Images.layoutImages($("#imagesContainer"));
</script>

<%= link_to 'New Image', new_image_path %>
