<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "What the Jug", root_path, :class => "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="homebtn"><%= link_to "Home", root_path %></li>
          <li id="submitbtn"><%= link_to "Submit", new_image_path %></li>
          <li id="randombtn"><a href="#">Random</a></li>
          <li id="tagsbtn"><%= link_to "Tags", tag_cloud_path %></li>
          <li id="infobtn"><%= link_to "Info", info_path %></li>
        </ul>
      </div>
      <%= form_tag "/search", :class => "navbar-search pull-left" do %>
        <%= text_field_tag :searchQuery, nil, :class => "search-query", :placeholder => "Search" %>
      <% end %>
    </div>
  </div>
</div>
