<!DOCTYPE html>
<html>
<head>
  <title>What the Jug?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/toolbar" %>


<div id="imagesWrapper">
  <div id="imagesContainer">
    <%= yield %>
  </div>
</div>
</body>
</html>
